<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.volatilevoid.nationalroaming"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposedminversion" android:value="2.1*"/>
        <meta-data android:name="xposeddescription" android:value="Disregard roaming state in your home country"/>
    </application>

</manifest>
